.icon {
  width: 20px;
  vertical-align: top;
  border: 1px solid salmon;
}

#myCanvas {
  width: 256px;
  height: 256px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}
.selectedTool {
  background-color: #88d;
  color: white;
}

#stickerButtons button {
  font-size: 18px;
  padding: 8px 12px;
}

#exportBtn {
  margin-top: 8px;
  font-weight: bold;
}
